# Lego Sales Data Cleaning

Exploratory Data Analysis being performed on the data provided by lego.

Data was taken from github

In [2]:
#importing pandas library
import pandas as pd

Reading all the necessary datasets to be used to perform Analysis.

In [4]:
#reading all the necessary datasets using pandas 
df=pd.read_csv("https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv")
theme=pd.read_csv("https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv")
df.head(100)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes
96,10076-1,TECHNIC Gear Wheels,2002,38.0,Technic,Bulk Bricks
97,10077-1,TECHNIC Motor,2003,55.0,Technic,Bulk Bricks
98,10078-1,Train Connection Wire,2003,1.0,Train,Bulk Bricks
99,10079-1,Snowman,2003,42.0,Christmas,Seasonal

Q1. what percentage of all the albums released were star wars themed?

In [31]:
merged[merged['set_num'].isnull()].shape
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [33]:
merged=df.merge(theme,left_on="parent_theme",right_on="name")
merged.drop(columns="name_y",inplace= True)

licensed=merged[merged['is_licensed']]
licensed=licensed.dropna(subset='set_num')

licensed.isnull()
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [34]:
starwars_force=licensed[licensed["parent_theme"]=="Star Wars"]
starwars_force.head(10)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
3499,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3500,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3501,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [35]:
Force=int(starwars_force.shape[0]/licensed.shape[0]*100)
print(Force)

51

# Here we get the insight that 51% of the albums released were star wars themed.

Q2.In which year was star wars not the most licensed album.

In [51]:

licensed_sort=licensed.sort_values('year')
licensed_sort['count']=1
sumed=licensed_sort.groupby(['year','parent_theme']).sum().reset_index()
sumed.head()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7161-17171-17140-17130-17128-17141-17121-17131...,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,Star Wars Episode 1Star Wars Episode 1Star War...,2054,13,13
1,2000,Disney's Mickey Mouse,4165-14167-14166-14164-14178-1,Minnie's Birthday PartyMickey's MansionMickey'...,405.0,Disney's Mickey MouseDisney's Mickey MouseDisn...,1940,5,5
2,2000,Star Wars,7134-13341-17159-17144-17124-17115-17104-14151...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
3,2001,Harry Potter,4723-14707-14722-14721-14709-14701-14702-14704...,Diagon Alley ShopsHagrid's HutGryffindorHogwar...,1284.0,Sorcerer's StoneSorcerer's StoneSorcerer's Sto...,2706,11,11
4,2001,Star Wars,7166-17186-165028-165030-165034-18007-18008-17...,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2212,14,14

In [53]:
sumed_max=sumed.sort_values('count',ascending=False).drop_duplicates(['year'])
sumed_max.head()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
82,2017,Super Heroes,76075-1211701-130449-130521-17090470903-170902...,"Wonder Woman"" Warrior BattleBatmanThe MilanoTh...",13123.0,Super HeroesBatmanMarvelBatmanBatmanBatmanBatm...,34704,72,72
76,2016,Star Wars,75156-175157-175159-130279-175158-130602-13060...,Krennicâ€™s Imperial ShuttleCaptain Rexâ€™s AT-TED...,6934.0,Star Wars Rogue OneStar Wars RebelsStar WarsSt...,9638,61,61
67,2015,Star Wars,75099-1SW911506-1SW911508-1SW911509-1SW911511-...,Rey's Speederâ„¢SnowspeederMini Slave 1Imperial ...,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
59,2014,Star Wars,75046-175045-175044-175043-175039-175041-17504...,Coruscant Police GunshipRepublic AV-7 Anti-Veh...,8293.0,Star WarsStar WarsStar WarsStar WarsStar WarsS...,7110,45,45
47,2012,Star Wars,66432-1comcon019-1comcon024-130058-166431-1949...,"Star Wars Super Pack 3 in 1 (9490, 9492, 9496)...",6769.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,6794,43,43

# we can see that in year 2017 star wars was not the most sold album